<div class="flex items-center justify-between mb-4">
  <h2 class="text-3xl text-gray-700 font-bold">{{ title }}</h2>
  <button *ngIf="entity !== 'request-pending' && entity !== 'request-rejected'"
    (click)="triggerRegister()"
    class="ml-auto bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg shadow transition duration-200 cursor-pointer">
    + Registrar
  </button>
</div>

<div class="relative shadow-md sm:rounded-lg">
  <div class="flex flex-col sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4 gap-y-4">
    <app-date-range-table 
      (dateRangeSelected)="handleDateRange($event)" 
      (dateRangeCleared)="handleCancelDateFilter()">
    </app-date-range-table>

    <app-search-table 
      (onSearch)="handleSearch($event)" 
      (noSearch)="handleCancelSearchFilter()">
    </app-search-table>
  </div>

  <div class="overflow-x-auto">
    <app-data-table 
      [columns]="columns" 
      [data]="pageable.content"
      [entity]="entity"
      (itemDelete)="triggerDelete($event)"
      (itemDisable)="triggerDisable($event)">
    </app-data-table>
  </div>
  
</div>

<app-pagination-table
  [totalPages]="pageable.totalPages"
  [currentPage]="pageable.number"
  (pageChange)="onPageChange($event)">
</app-pagination-table>