<div class="modal fade" #updateUsuario id="updateUsuario" tabindex="-1" role="dialog"
    aria-labelledby="updateUsuarioLabel" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateUsuarioLabel">Editar Usuario </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="rol-usuario" class="col-form-label">Rol del usuario:</label>
                                <select type="text" class="form-control" id="rol-usuario-update" formControlName="rol" aria-label="Default select example">
                                    <option selected value="">Seleccione un rol</option>
                                    <option value="Administrador">Administrador</option>
                                    <option value="Empleado">Empleado</option>
                                </select>
                                <div *ngIf="rol?.invalid && rol?.touched">
                                    <div *ngIf="rol?.errors?.['required']" class="invalid" role="alert">
                                        El rol es requerido.
                                    </div>
                                </div> 
                            </div>
        
                            <div class="form-group">
                                <label for="nombres-de-usuario" class="col-form-label">Nombres:</label>
                                <input type="text" class="form-control" id="nombres-de-usuario-update" formControlName="nombres">
                                <div *ngIf="nombres?.invalid && nombres?.touched">
                                    <div *ngIf="nombres?.errors?.['required']" class="invalid" role="alert">
                                        Los nombres son requeridos.
                                    </div>
                                </div>   
                            </div>
        
                            <div class="form-group">
                                <label for="apellidos-de-usuario" class="col-form-label">Apellidos:</label>
                                <input type="text" class="form-control" id="apellidos-de-usuario-update" formControlName="apellidos">
                                <div *ngIf="apellidos?.invalid && apellidos?.touched">
                                    <div *ngIf="apellidos?.errors?.['required']" class="invalid" role="alert">
                                        Los apellidos son requeridos.
                                    </div>
                                </div>   
                            </div>
                            <div class="form-group">
                                <label for="correo-usuario" class="col-form-label">Correo:</label>
                                <input type="text" class="form-control" id="correo-usuario-update" formControlName="correoUsuario">
                                <div *ngIf="correoUsuario?.invalid && correoUsuario?.touched">
                                    <div *ngIf="correoUsuario?.errors?.['required']" class="invalid" role="alert">
                                        El correo es requerido.
                                    </div>
                                    <div *ngIf="correoUsuario?.errors?.['email']" class="invalid" role="alert">
                                        Ingresa un correo electrónico válido.
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="col-lg-6">
                            <div *ngIf="showForm?.value" class="form-group">
                                <label for="password-usuario" class="col-form-label">Nueva Contraseña:</label>
                                <input type="password" class="form-control" id="password-usuario-update" formControlName="passwordUsuario">
                                <div *ngIf="passwordUsuario?.invalid && passwordUsuario?.touched">
                                    <div *ngIf="passwordUsuario?.errors?.['required']" class="invalid" role="alert">
                                        La contraseña es requerida.
                                    </div>
                                    <div *ngIf="passwordUsuario?.errors?.['minlength']" class="invalid" role="alert">
                                        La contraseña debe tener al menos 8 caracteres.
                                      </div>
                                      <div *ngIf="passwordUsuario?.errors?.['pattern']" class="invalid" role="alert">
                                        La contraseña debe contener al menos un número.
                                      </div>
                                </div>
                            </div> 
        
                            <div *ngIf="showForm?.value" class="form-group">
                                <label for="confirmacion-password-usuario" class="col-form-label">Confirmar nueva Contraseña</label>
                                <input type="password" class="form-control" id="confirmacion-password-usuario-update" formControlName="confirmacionPassword">
                                <div *ngIf="confirmacionPassword?.invalid && confirmacionPassword?.touched">
                                    <div *ngIf="confirmacionPassword?.errors?.['required']" class="invalid" role="alert">
                                        La confirmacion de la contraseña es requerida.
                                    </div>
                                    <div *ngIf="confirmacionPassword?.errors?.['passwordMismatch']" class="invalid" role="alert">
                                        Las contraseñas no coinciden.
                                    </div>
                                </div>
                            </div> 

                            <!-- <ng-container *ngIf="showForm?.value">
                                <password-strength-meter [password]="form.controls['passwordUsuario'].value"
                                (strengthChange)="onStrengthChange($event)">
                                </password-strength-meter>
                            </ng-container> -->
        
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="showForm" (change)="toggleFormulario()" formControlName="showForm">
                                <label class="form-check-label" for="showForm">
                                    ¿Desea cambiar la contraseña de este usuario?
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal" >Cerrar</button>
                <button type="button" class="btn mb-2 btn-primary" (click)="onSubmit()">Guardar</button>
            </div>
        </div>
    </div>
</div>
